*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/*header*/

header{
    background-color: #080b12;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}

header img{
    width:150px;
    margin: 15px;
}

header button{
    padding:10px 40px;
    font-size: 10px;
    height: 40px;
    border-color: antiquewhite;
    background-color:#080b12 ;
    color: antiquewhite;
    border-radius: 30px;
    margin-right: 5px;
}

#container{
    display: flex;
    background-color: #141922;
    height: calc(100vh - 200px);
}

main{
    width:100%;
    overflow-y:auto;
}

aside{
    background-color:#000000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:15%;
    height: 100%;
    color:antiquewhite;
}

aside li{
    padding:8px 20px;
    font-size: 15px;
}

aside a{
    list-style-type: none;
}

aside i{
    font-size: 20px;
    padding-right: 5px;
}

h5{
    color:white;
    margin:0px 20px;
}

li:nth-child(5){
    display: flex;
    align-items: center;
}

#last_ul li{
    list-style-type: none;
}


/* navbar */

nav{
    display:flex;
    justify-content: center;
    font-size: 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav li{
    list-style-type: none;
    padding:20px 10px;
    color: rgb(156, 156, 156);


}

/* titoli h2 */

h2{
    padding:30px 40px 0px;
    color: white;
}

#first_h2{
    padding-bottom: 30px;
}

h5{
    padding: 20px 20px;
}
/*row lines */

.row{
    display: flex;
    color: white;
    text-align: center;
    padding: 0px 30px;  
}

/*img row*/
.row img{
    width: 195px;
    height: 240px;
    padding: 5px;
}

/*player*/

#player{
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    color: white;
    align-items: center;
    padding: 15px;
    height: 100px;
}

#left{
    display:flex;
    align-items: center;
}

#left img{
   width:60px;
   margin-right:10px;
}

.hearth{
    padding:0px 20px 0px 40px;
}

#center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#center i{
    padding: 15px 15px;
}

#right{
    padding:10px;
}

#right i{
    padding:0 20px 20px;

}




