*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/*header*/

header{
    background-color: #080b12;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}

header img{
    width:150px;
    
}

header button{
    padding:10px 40px;
    font-size: 10px;
    height: 40px;
    border-color: antiquewhite;
    background-color:#080b12 ;
    color: antiquewhite;
    border-radius: 30px;
    margin-right: 5px;
}

#container{
    display: flex;
    background-color: #141922;
    height: calc(100vh - 200px);
}

main{
    max-width:100%;
    overflow-y:auto;
}

aside{
    background-color:#000000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0px; 
    padding-right:45px;
    height: 100%;
    color:antiquewhite;
}

aside li{
    padding:8px 20px;
    font-size: 15px;
    list-style-type: none;
}

aside i{
    font-size: 20px;
    padding-right: 5px;
}

h5{
    color:white;
    margin:0px 20px;
}

li:nth-child(5){
    display: flex;
    align-items: center;
}

#last_ul li{
    list-style-type: none;
    font-size: 10px;    
}


/* navbar */

nav{
    display:flex;
    justify-content: center;
    font-size: 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav li{
    list-style-type: none;
    padding:20px 10px;
    color: rgb(156, 156, 156);


}

/* titoli h2 */

h2{
    padding:30px 40px 0px;
    color: white;
}

#first_h2{
    padding-bottom: 30px;
}

h5{
    padding: 20px 20px;
}
/*row lines */

.row{
    display: flex;
    color: white;
    text-align: center;
    padding: 0px 30px;  
}

/*img row*/
.first div{
    display: flex;
    flex-direction: column;
    width:calc(100% / 6);
    padding:10px ;
}

.second div{
    width:calc(100% / 6  - 18px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;  
}

.third img{
    width:calc(100% / 6  - 18px);
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}


/*player*/

#player{
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    color: white;
    align-items: center;
    padding: 15px;
    height: 100px;
}

#left{
    display:flex;
    align-items: center;
}

#left img{
   width:60px;
   margin-right:10px;
}

.hearth{
    padding:0px 20px 0px 40px;
}

#center {
    text-align: center;
    margin-right: 40px;
}
#center i{
    padding: 15px 15px;
}

#right{
    padding:10px;
}

#right i{
    padding:0 10px;

}

/*responsive 552x1095*/
@media all and (max-width:552px){

    aside{
        padding-right: 0px;
    }

    #last_ul, li:nth-child(n+4){
        display: none;

    }
   
    .first{
        display: flex;
        flex-wrap: wrap;
    }
    
    .first div{
            width:50%;
    }  
    
}
/*responsive 639x1095*/
@media all and (min-width:553px) and (max-width:639px) {
    .first{
        display: flex;
        flex-wrap: wrap;
        }
    
    .first div{
            width:50%;
        }  

        #left, #center, #right{
        }
    }
/*responsive 878x1095*/
@media all and (max-width:878px) and (min-width:640px){

    .nav{
        display: flex;
        flex-wrap: wrap;
        
    }
    .first{
        display: flex;
        flex-wrap: wrap;
    }
    .first div{
        width:25%;
    }
    .second div{
        width:22%;
    }
    .third img{
        width:22%;
        margin-left: 15px;
    }


}

